<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/style2.css" rel="stylesheet" />
  </head>
  <body>
    <section class="main_page">
      <div class="player1">
        <h1 id="nameP1">Player 1</h1>
        <img src="static/assets/batu.png" alt="" id="batuP1" class="player-choice" />
        <img src="static/assets/gunting.png" id="guntingP1" class="player-choice"/>
        <img src="static/assets/kertas.png" id="kertasP1" class="player-choice"/>
      </div>

      <div class="versus">
        <h1 id="VS">VS</h1>
        <img src="static/assets/refresh.png" id="refresh" />
         <button type="" id="play_button">Play</button>
      </div>

      <div class="com">
        <h1 id="comName">COM</h1>
        <img src="static/assets/batu.png" alt="" id="batuCom" class="com-choice"/>
        <img src="static/assets/gunting.png" id="guntingCom" class="com-choice"/>
        <img src="static/assets/kertas.png" id="kertasCom" class="com-choice"/>
      </div>
    </section>
    </body>


    <script src="static/assets/index.js">
    </script>

    </html>
  