<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
<!--page 1-->

<section class="page-1">
  

  
  
  <nav class="navbar">

    <div class="left-navbar">
      <h1>Logo</h1>

      <ul>
        <li>Home</li>
        <li>Work</li>
        <li>Contact</li>
        <li>About Me</li>
      </ul>

    </div>

    <div class="right-navbar">

      <ul>
        <li>Sign Up</li>
        <li>Login</li>
      </ul>

    </div>

  </nav>

  <div class="play-now">

    <h1>PLAY TRADITIONAL GAME</h1>
  
    <h2>Experience New Traditional Gameplay</h2>
  
    <div type="btn" class="btn btn-play-now">Play Now</div>

    <div type="btn" class="btn btn-the-story">The Story <img src="static/scroll down.svg" alt=""></div>
    

</section>




<!--page 2-->

<section class="page-2">

<div class="container-page-2">

  <p>What's so special?</p>
  <h1>THE GAMES</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="static/rockpaperstrategy-1600 1.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/rockpaperstrategy-1600 1.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/rockpaperstrategy-1600 1.png" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</section>





<!--page 3-->
<section class="page-3">

  <div class="container-page-3">

    <h3>What's so special?</h3>
    <h1>FEATURES</h1>
  
    
    <ul>
      <li>TRADITIONAL GAMES</li>
      <li id="p1">if you miss your childhood, we provide many traditional games here</li>
      <li>Game Suit</lio>

    </ul>

    <ul id="tbd">
      <li>TBD</li>
    </ul>

  </div>









</section>





<!--page 4-->

<section class="page-4">

  <p>Can My Computer Run this game?</p>

  <div class="container-page-4">
    <div class="system-req">
    <h1 id="OS">SYSTEM <br> REQUIREMENTS</h1>
    </div>

    <table class="table-req">
    <tr>
      <td class="os"><h1 id="os">OS:</h1> <h5>Windows 7 64-bit only <br> (no OSX support at this time)</h5></td>
      <td class="processor"><h1 id="processor">Processor:</h1> <h5>intel core duo @ 2.4GHZ<br> or AMD athlon X2 @2.8 GHZ</h5> </td>
    </tr>

    <tr>
      <td class="memory"><h1 id="memory">Memory:</h1> <h5>4 GB RAM</h5></td>
      <td class="storage"><h1 id="storage">Storage:<h1></h5> 8GB available space</h5></td>
    </tr>

    <tr>
    </tr>
    </table>
    <table class="table-graphic">
      <td class="graphics"><h1 id="graphics">Graphics:</h1> <h5>NVIDIA Geforce GTX 660 2GB or <br> AMD Radeon HD 7850 2 GB DirectX11 (Shader Model 5)</h5></td>

    </table>

  </div>


</section>




<!--page 5-->

<section class="page-5">

  <div class="left-side-page-5">

    <h1>TOP SCORES</h1>

    <h4>This top score from various games provided<br> on this platform</h4>

    <div class="btn btn-see-more">See More</div>

    <img src="static/Group 3.png" id="skull">

    <div class="footer-bottom">
      <p>MAIN</p>
      <p>ABOUT</p>
      <p>GAME FEATURES</p>
    </div>

 





  </div>

  <div class="right-side-page-5">

  <div class="twitter-card-1">
    <div class="card-1-top"> <img src="static/image evan.jpg" alt="">
    <div class="twitter-card-1-name">
      <h2>Evan Lathi</h2>
      <p>PC Gamer</p>
    </div>
    <div class="twitter-icon"><img id="twitter" src="static/twitter.svg" alt=""></div>
    </div>

    <div class="card-1-bottom">
      <h5>"one of my gaming highlights of the year."</h5>
      <p>june 18 2021</p>
     </div>

  </div>


  <div class="twitter-card-2">
    <div class="card-1-top"> <img src="static/image jada.jpg" alt="">
      <div class="twitter-card-1-name">
        <h2>Jada Griffin</h2>
        <p>nerd-reactor</p>
      </div>
      <div class="twitter-icon"><img id="twitter" src="static/twitter.svg" alt=""></div>
      </div>
  
      <div class="card-1-bottom" id="card-2-botom">
        <h5>"The next big thing in streaming world and survival games"</h5>
        <p>july 10 2021</p>


  </div>



  <div class="twitter-card-3">
    <div class="card-1-top"> <img src="static/Arron.jpg" alt="">
      <div class="twitter-card-1-name">
        <h2>Aaron Williams</h2>
        <p>Uproxx</p>
      </div>
      <div class="twitter-icon"><img id="twitter" src="static/twitter.svg" alt=""></div>
      </div>
  
      <div class="card-1-bottom">
        <h5>"Snoop dog playing The Wildly entertaining "SOS" is ridicilous"</h5>
        <p>december 24 2018</p>


  </div>

  <div class="news-letter">

  <p>Want to stay in<br>touch?</p>

  <h1>NEWSLETTER<br>SUBSCRIBE</h1>

  <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
  


</div>

<div class="news-letter-input">
  <label id="your-email" for="email">Your E-mail</label>
  <input type="text" id="email" name="email">

  <div class="btn btn-warning">Subscribe Now</div>


</div>

<footer class="footer-top">
 
  <p>SYSTEM REQUIREMENTS</p>
  <p>QUOTES</p>
  <img src="static/youtube.svg" alt="">
  <img src="static/twitter.svg" alt="">
  <img src="static/facebook.svg" alt="">
  


</footer>


<footer class="footer-bottom"></footer>


</div>




</section>









<!--page 6-->







  </body>
</html>